<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание</title>
</head>
<body>
<h1>Домашнее задание</h1>
<p>Создайте пару представлений в вашем первом приложении:</p>
<ul>
    <li>главная</li>
    <li>о себе.</li>
</ul>
<p>Внутри каждого представления должна быть переменная html —
    многострочный текст с HTML-вёрсткой и данными о вашем первом Django-сайте и о вас.(было сделано на семинаре)</p>
<p>Сохраняйте в логи данные о посещении страниц.</p>
<p>Вместо хранения html в переменной, подумать как можно реализовать через работу с файлом html.</p>
</body>
</html>